html {
  height: 100%;
}

body {
 height: 100%;
}

.font-kreon {
  font-family: 'Kreon', serif;
  font-size: 1.25rem;
}

.logo {
  width: 150px;
}

.hero {
  position: relative;
}

.hero span {
  position: absolute;
  
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
}

.hero__message--1 {
  top: 5%;
  left: 5%;
  right: 0;
  bottom: 0;
}

.hero__message--2 {
  top: 80%;
  left: 5%;
  right: 0;
  bottom: 0;
}

.hero span h1 {
  font-size: 3rem;
}

.hero video {
  display: block;
}

.phone-number {
  color: red;
}

.cone-pattern {
  height: 100%;
  background-image: url("pattern.svg");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}