*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem; 
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited, &:link, &:hover, &:active {
    color: black;
  }
}

button {
  border-style: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.map {
  display: flex;
  background-color: 

  &__display {
  }

  &__text-wrapper {
    margin: auto;
    font-family: 'Kreon', sans-serif;
  }

  &__text {
    font-size: 3.6rem;
    color: royalblue;
    margin-bottom: 1rem;
  }

  &__directions, &__phone {
    font-size: 4rem;
    font-weight: 800;
  }
}

.name-of-the-day {
  background-color: deepskyblue;
  font-size: 2.5rem;
  font-family: 'Kreon', sans-serif;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 70px;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  &__logo {
    width: 400px;
  }

  &__logo-box {
    & > img {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__nav {
    &-list {
      display: flex;
    }

    &-item {
      margin: 0 1rem;
    }
    
    &-link {
      font-family: 'Kreon', sans-serif;
      font-size: 2rem;
    }
  }

  &__social-nav {
    &-list {
      display: flex;
    }

    &-item {
      margin: 0 1rem;
    }

    &-link {
      font-size: 3rem;
    }
  }
}

.hero {
  background-color: aqua;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    height: auto;
    min-width: 100%;
    filter: brightness(50%);
  }

  &__text-area {
    position: absolute;
    top: 5%;
  }

  &__text {
    font-size: 5rem;
    font-family: 'Kreon';
    color: white;
  }

  &__button {
    background-color: royalblue;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 2rem;
  }
}

.menu {
  margin: 1.6rem auto;
  font-family: 'Kreon';

  &__header {
    font-size: 6rem;
  }

  &__item-heading {
    font-size: 3rem;
    font-weight: 800;
  }

  &__item {
    font-size: 2rem;
  }

  &__item-sizes-prices {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
  }

  &__item-sizes {
    margin-right: 1em;
  }

  &__item-size {
    
  }

  &__item-prices {

  }

  &__item-list {
    padding: 1rem;
  }
  
  &__ice-cream {
 
  }

  &__food {

  }
}

.footer  {
  &__img {

  }
}