$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem; 
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited, &:link, &:hover, &:active {
    color: black;
  }
}

button {
  border-style: none;
  cursor: pointer;
}

.container {
  display: flex;
  height: auto;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.baseline {
  align-items: baseline;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.space-around {
  justify-content: space-around;
}

.sapce-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.vcenter {
  align-items: center;
}

.hcenter {
  justify-content: center;
}

.w-100 {
  font-weight: 100;
}

.w-300 {
  font-weight: 300;
}

.text-bold, .w-600 {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.font-size-1 {
  font-size: 1.6rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 2.4rem;
}

.font-size-4 {
  font-size: 2.6rem;
}

.font-size-5 {
  font-size: 3rem;
}

.font-size-6 {
  font-size: 3.4rem;
}

.font-size-7 {
  font-size: 3.6rem;
}

.font-size-8 {
  font-size: 4rem;
}

.mv-1 {
  margin: 1.6rem 0;
}

.mv-2 {
  margin: 2rem 0;
}

.mv-3 {
  margin: 2.4rem 0;
}

.mv-4 {
  margin: 2.6rem 0;
}

.mv-5 {
  margin: 3rem 0;
}

.mv-6 {
  margin: 3.4rem 0;
}

.mv-7 {
  margin: 3.6rem 0;
}

.mv-8 {
  margin: 4rem 0;
}

.mh-1 {
  margin: 0 1.6rem;
}

.mh-2 {
  margin: 0 2rem;
}

.mh-3 {
  margin: 0 2.4rem;
}

.mh-4 {
  margin: 0 2.6rem;
}

.mh-5 {
  margin: 0 3rem;
}

.mh-6 {
  margin: 0 3.4rem;
}

.mh-7 {
  margin: 0 3.6rem;
}

.mh-8 {
  margin: 0 4rem;
}

.m-1 {
  margin: 1.6rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 2.4rem;
}

.m-4 {
  margin: 2.6rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 3.4rem;
}

.m-7 {
  margin: 3.6rem;
}

.m-8 {
  margin: 4rem;
}

.m-0-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.map {
  padding: 2rem;
  background-color: #ee2a7b;

  &__phone {
    text-decoration: underline;
  }

  &__display {
  }

  &__text-wrapper {
    font-family: 'Alegreya', serif;
  }

  &__text {
  }

  &__directions, &__phone {
    font-weight: 800;
  }
}

.name-of-the-day {
  background-color: deepskyblue;
  font-family: 'Alegreya', serif;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  @include sm {
    margin: 0;
  }

  @include md {
    align-items: center;
    justify-content: space-around;
  }

  @include lg {
    flex-wrap: wrap;
  }

  &__logo {
    width: 400px;
    @include md {
      width: 350px;
    }
    @include lg {
      width: 300px;
    }
  }

  &__logo-box {
    & > img {
      
    }
  }

  &__nav {
    &-list {
    }

    &-item {
    }
    
    &-link {
      font-family: 'Alegreya', serif;
    }
  }

  &__social-nav {
    &-list {
    }

    &-item {
      margin: 0 1rem;
    }

    &-link {
      & > i {
        @include lg {
          font-size: 3rem;
          // margin: 1rem;
          align-self: center;
        }
      }
    }

    &-link > i {
      color: #ee2a7b;
    }
  }
}

.hero {
  // background-position: center;
  // background-repeat: no-repeat;
  // object-fit: cover;
  // position: relative;
  // z-index: 0;
  // justify-content: center;
  // align-items: center;

  &__img {
    max-height: 70rem;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
  }

  &__text-area {
    // position: absolute;
    // top: 5%;
  }

  &__text {
    // font-family: 'Alegreya', serif;
    // color: white;
  }

  &__button {
    // background-color: royalblue;
    // padding: 1.5rem 3rem;
    // border-radius: 5px;
    // color: white;
    // font-weight: 800;
  }
}

.menu {
  font-family: 'Alegreya', serif;
  max-width: 80rem;

  &__section--ice-cream {
    // display: flex;
    flex-wrap: wrap;
  }

  &__ice-cream-group {
    // display: flex;
    // flex-direction: column;
    min-width: 20rem;
    max-width: 23rem;
    margin: 4rem 8rem;

    @include lg {
      margin: 2rem 4rem;
    }
  }

  &__header {
  }

  &__item-heading {
  }

  &__item-subheading {
  }

  &__item {
  }

  &__item-list {
  }

  &__items {

  }

  &__item-sizes {
  }

  &__item-price {

  }

  &__item-sizes-price {
  }
}

.footer  {
  &__img {

  }
}